<div class="text_center margin_auto" id="user_dash">
  <p>#{@user.username.upcase}'s dashboard: #{@user.last_name} #{@user.last_name} #{@user.phone} #{@user.email}</p>
</div>
<div class="clear"></div>
<div class="space"></div>
if current_user.producer == true


  -# .create_song.largeSectionWrapper.left.margin_left
  -#   = render "shared/song_form"
  -# #songs.sectionWrapper.margin_auto.margin_right
  -#   %h3 Songs
  -#   - @songs.each do |song|
  -#     %p= link_to song.title, song_path(song.id)
  -# .clear
