.container
  #song_comment_form
    =simple_form_for Comment.new, :method => :post do |f|
      =f.input :comment, as: :text, :input_html => {:size => "38x2"}, label: false
      =f.input :commentable_type, :as => :hidden, :input_html => {:value => "Songs"}
      =f.input :commentable_id, :as => :hidden, :input_html => {:value => @song.id}
      =f.submit "make comment"
