#recording_form
  =simple_form_for Recording.new, :html => { :multipart => true }do |f|
    =f.input :name, :required => true, label: false, :input_html => {:size => "38x2"}, placeholder: "name"
    =f.label "file"
    =f.file_field :file, :input_html => {:label => "File"}
    =f.input :song_id, :as => :hidden, :input_html => {:value => @song.id}
    =f.submit "create recording"
