.song
  =simple_form_for Song.new do |f|
    %h3 Create song
    =f.input :title, label: false, placeholder: "title", :input_html => {:maxlength =>55,:style=> 'width: 245px'}
    =f.input :writers, label: false, placeholder: "writers", :input_html => {:maxlength =>55,:style=> 'width: 245px'}
    =f.input :lyric, :as => :text, :input_html => {:size => "36x23"}, label: false, placeholder: "lyric"
    =f.input :commentable_id, :as => :hidden, :input_html => {:value => current_user.id}
    =f.submit "create song"
