@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Diplomata+SC);
$bright: #FEC428;
$dark: #700B0E;

h3{
  font-family: 'Diplomata SC', cursive;
  color: $dark;
}
/////// helpers////////
.right{
  float: right;
}

.left{
  float: left;
}

.margin_auto{
  margin: auto;
}

.margin_left{
  margin-left: 2%;
}

.margin_right{
  margin-right: 2%;
}
.box_shadow{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.space{
  width: 100%;
  height: 50px;
}
.big_bump{
  width: 100%;
  height: 10px;
}
.bump{
  width: 100%;
  height: 5px;
}

.nudge{
  width: 100%;
  height: 1px;
}
.text_center{
  text-align: center;
}
.flash_alert{
  background: #FEC428;
}
//////end helpers/////

a, a:visited{
  text-decoration: none;
  color: #700B0E;
}

a:hover, a:active{
  text-decoration: underline;
  color: #FEC428;
}

form input{
  max-width: 90%;
}

form input[type=submit]{
  text-align: center;
  max-width: 51%;
  border-top: 1px solid #96d1f8;
  background: #700B0E;
  background: -webkit-gradient(linear, left top, left bottom, from(#FEC428), to(#700B0E));
  background: -webkit-linear-gradient(top, #FEC428, #700B0E);
  background: -moz-linear-gradient(top, #FEC428, #700B0E);
  background: -ms-linear-gradient(top, #FEC428, #700B0E);
  background: -o-linear-gradient(top, #FEC428, #700B0E);
  padding: 2px 5px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #FEC428;
  font-size: 14px;
  font-family: Georgia, serif;
  text-decoration: none;
  vertical-align: middle;
}

form input[type=submit]:hover{
  border-top-color: #FEC428;
  background: #FEC428;
  color: #ccc;
}
form input[type=submit]:active{
  border-top-color: #1b435e;
  background: #1b435e;
}
.button{
   max-width: 500px;
   border-top: 1px solid #96d1f8;
   background: #700B0E;
   background: -webkit-gradient(linear, left top, left bottom, from(#FEC428), to(#700B0E));
   background: -webkit-linear-gradient(top, #FEC428, #700B0E);
   background: -moz-linear-gradient(top, #FEC428, #700B0E);
   background: -ms-linear-gradient(top, #FEC428, #700B0E);
   background: -o-linear-gradient(top, #FEC428, #700B0E);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #FEC428;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #FEC428;
   background: #FEC428;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

body {
  background: asset-url('skin.jpg') 0 0 repeat fixed;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  height: 2000px;
}

.sectionWrapper{
  display: inline-block;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: relative;
  -webkit-animation: myfifth 2s; /* Chrome, Safari, Opera */
  animation: myfifth 2s;
  animation-direction: alternate;
  background: rgba(255, 174, 44, 0.72);
  padding: 10px;
  min-width: 300px;
  max-width: 45%;
}

.largeSectionWrapper{
  display: inline-block;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: relative;
  -webkit-animation: myfifth 2s; /* Chrome, Safari, Opera */
  animation: myfifth 2s;
  animation-direction: alternate;
  background: rgba(255, 174, 44, 0.72);
  padding: 10px;
  width: 75%
}

#user{
  display: inline-block;
  width: 103%;
  padding: 5px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: relative;
  -webkit-animation: mythird 2s; /* Chrome, Safari, Opera */
  animation: mythird 2s;
}

@-webkit-keyframes mythird {
    0%     {background: #dcdcdc; left:0px; top:500px;}
    100%   {background: rgba(237, 209, 26, 0.22); left:0px; top:0px;}
}

#keys, #values{
  position: relative;
  bottom: 40px;
  display: inline-block;
}

.create_song{
  margin-left: 5%;
}

@-webkit-keyframes myfifth {
    0%     {background: #dcdcdc; right:500px; top:500px;}
    100%   {background: rgba(237, 209, 26, 0.22); right:0px; top:0px;}
}

header {
  max-width: 75%;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 64px;
  padding-bottom: 2px;
  background: #FEC428;
  border: 1px solid;
  marging: auto;
  list-style: none;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mysecond {
    0%    {background: #dcdcdc; left:900px; top:0px;}
    100%   {background: rgba(237, 209, 26, 0.22); left:0px; top:0px;}
}
#sign_up{
  margin-left: 30%;
}
.nav{
  display: inline-block;
  list-style: none;
  position: relative;
  -webkit-animation: mythird 2s;
  animation: mythird 2s;
}

@-webkit-keyframes mythird {
    0%    {background: #dcdcdc; left:900px; top:0px;}
    100%   {background: rgba(237, 209, 26, 0.22); left:0px; top:0px;}
}

#results{
  text-align: center;
  /*display: inline-block;*/
}

.user_dash{
  z-index: 1;
  background: #FEC428;
  width: 90%;
  display: inline-block;
  position: relative;
  -webkit-animation: myfourth 2s; /* Chrome, Safari, Opera */
  animation: myfourth 2s;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

@-webkit-keyframes myfourth {
  0%    {background: #dcdcdc; top:510px;}
  100%   {background: rgba(237, 209, 26, 0.22); left:0px; top:0px;}
}

#user_dash{
  z-index: 1;
  margin-top: 5px;
  background-color: #FEC428;
  padding: 0px 0px 0px 8px;
  -webkit-animation: myfourth 2s; /* Chrome, Safari, Opera */
  animation: myfourth 2s;
  -webkit-border-bottom-right-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  -moz-border-radius-bottomright: 25px;
  -moz-border-radius-bottomleft: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

@-webkit-keyframes myfourth {
0%    {background: #dcdcdc; top:1110px;}
100%   {background: rgba(237, 209, 26, 0.22); left:0px; bottom:50px;}
}

audio{
  max-width: 260px
}

.navButton {
  position: relative;
  bottom: 5px;
  padding: 0px 7px 1px 7px;
  border: 1px solid;
  -webkit-border-radius: 70px;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius: 70px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-radius: 70px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navButton:hover {
  background: #700B0E;
}

.recording {
  background: #333;
  color: #fff;
  padding: 10px;
  width: 40%;
  margin-left: 50%;
}

.clear{
  display: block;
  clear: both;
}

.container{
  max-width: 75%;
  clear: both;
  margin: auto;
  padding: 2px;
  position: relative;
  -webkit-animation: myfifth 2s; /* Chrome, Safari, Opera */
  animation: myfifth 2s;
  animation-direction: alternate;
}

  @-webkit-keyframes myfifth {
    0%     {background: #dcdcdc; left:500px; top:000px;}
    100%   {background: rgba(237, 209, 26, 0.22); left:0px; top:0px;}
}

div.page_content{
  min-height: 1000px;
  background: asset-url('bench.jpg') no-repeat top fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
div.middle{
  width: 100%;
  height: 200px;
  background: black;
}
.middle_content{
  min-height: 500px;
  background: asset-url('bg.jpg') no-repeat top fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.third_content{
  min-height: 500px;
  background: asset-url('JohnNeel.jpg') no-repeat top fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#logo{
  // width: 50%
}
// form#new_song{
//   postition: fixed;
// }
