/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*$primary-color: #F9FF4C;
$secondary-color: #838700;
$third-color: #C5CC00;
$fourth-color: #7B7F00;*/
body {
  background: #cfb405;
}

header {
  margin: auto;
  border: 5px solid;
  marging: auto;
  display: inline-block;
  width: 90%;
  }

.nav{
  display: inline-block;
  color: white;
  /*margin: auto;*/
}

.navButton {
  border: 1px solid blue;
  background: rgba(177, 86, 86, 0.84);
}

.devise_navigation .main_navigation{
display: inline-block;
border: 2px black solid;
list-style: none;
}

.devise_navigation{
  float: right;
  margin-right: 10%;
}

.main_navigation{
  float: left;
  margin-left: 10%;
}

.song {
  background: #e1e1e1;
  padding: 10px;
  width: 40%;
  margin-left: 25%;
}

.recording {
  background: #333;
  color: #fff;
  padding: 10px;
  width: 40%;
  margin-left: 50%;
}

.clear{
  display: block;
  clear: both;
}

.container{
  clear: both;
  margin: auto;
  width: 85%;
}
